:root {
    --dark-gray-1: #25282b;
    --dark-gray-2: #0101011a;
    --dark-gray-3: #25282b56;
    --dark-gray-3-hover: #25282b88;

    --buttonColor: #ff5e84;
    --buttonShadowColor: #ff5e8432;
    --buttonColorHover: #fc3c69;
    --linkColor: #ff5e84;
    
    --light-gray-1: #a5a5a5d4;
    --light-gray-2: #777777;
    --light-gray-3: #e5e4e5;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--light-gray-3);
    color: var(--dark-gray-1);
}

body.hideScroll {
    overflow: hidden;
}

button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.2;
}

a {
    color:var(--linkColor);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form input, form textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: var(--light-gray-1) 1px solid;
    outline: none;
    font-size: 1rem;
}

form label {
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.8px;
}

footer {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.2;
    font-weight: regular;
    color: var(--light-gray-2);
}

footer a {
    opacity: 0.7;
}

.CTA {
    background: var(--buttonColor);
    color: var(--white);
    width: 150px;
    height: 2.5rem;
    border-radius: .5rem;
    box-shadow: var(--buttonShadowColor) 0 .5rem 1rem;
    transition: ease 280ms;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTA:hover {
    text-decoration: none;
    background-color: var(--buttonColorHover);
}

#container {
    width: 80%;
    max-width: 980px;
    margin: 2.5rem auto;
}

#modal{
    background-color: var(--light-gray-3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 400ms;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    margin-top: 20%;
    color: var(--dark-gray-1);
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    max-width: 800px;
    width: 80%;
    margin: 0 auto 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

#modal form div:nth-child(3), #modal form div:nth-child(4), #modal form div:nth-child(5){
    grid-column: span 2;
}

#modal .CTA{
    margin: 1rem 0;
    grid-column: 2;
    justify-self: end;
    align-self: end;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

#modal a{
    background-color: var(--dark-gray-3);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 2.5rem;
    border-radius: 0.5rem;
    align-self: end;
    font-size: 0.875rem;
    text-decoration: none;
    margin: 1rem 0;
    box-shadow: var(--light-gray-1) 0 .5rem 1rem -.5rem;
    transition: ease 280ms;
}

#modal a:hover{
    background-color: var(--dark-gray-3-hover);
}

.idea {
    display: flex;
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--dark-gray-2) 0 .25rem 1rem -.5rem;
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 2rem;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: var(--light-gray-2);
}

.idea .description {
    margin: 1rem 0;
}

p, .description {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1;
}