header {
    display: flex;
    justify-content: space-between;
}

.pageIdeas {
    display: block;
}

header nav ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.2;
}

li a {
    color: var(--dark-gray-1);
    outline: none;
}

li:last-child {
    margin: 0;
}

li:last-child a {
    color: var(--white);
    text-decoration: none;
}

#title {
    text-align: center;
    margin: 4rem 0;
}

#title p {
    color: var(--light-gray-2);
    margin: 0;
}

#title h1 {
    margin: 0;
    font-size: 1.75rem;
}

#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}