:root{
    --textColor: #25282b;
    --backgroundColor: #e5e4e5;
    --buttonColor: #ff5e84;
    --buttonTextColor: #ffffff;
    --buttonShadowColor: #ff5e8432;
    --buttonColorHover: #fc3c69;
    --linkColor: #ff5e84;
    --ideaBackgroundColor: #ffffff;
    --ideaPColor: #777777;
    --ideaShadowColor: rgba(1, 1, 1, 0.1);
    --formButtonBackgroundColor: #ffffff;
    --formBorderColor: #a5a5a5d4;
    --backModalButtonColor: #25282b56;
    --backModalButtonColorHover: #25282b88;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

header{
    display: flex;
    justify-content: space-between;
}

.pageIdeas{
    display: block;
}

header nav ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2;
}

li a{
    color: var(--textColor);
    outline: none;
}

li:last-child{
    margin: 0;
}

li:last-child a{
    color: var(--buttonTextColor);
    text-decoration: none;
}

#title{
    text-align: center;
    margin: 64px 0;
}

#title p{
    color: var(--ideaPColor);
    margin: 0;
}

#title h1{
    margin: 0;
    font-size: 28px;
}

#ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.idea{
    display: flex;
    background-color: var(--ideaBackgroundColor);
    padding: 32px;
    border-radius: 8px;
    box-shadow: var(--ideaShadowColor) 0 4px 16px -8px ;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0;
}

.idea p{
    margin: 8px 0;
    color: var(--ideaPColor);
}

.idea .description{
    margin: 16px 0;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1;
}

footer{
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2;
    font-weight: regular;
    color: var(--ideaPColor);
    margin: 32px 0;
}

footer a{
    opacity: 0.7;
}

#modal{
    background-color: var(--backgroundColor);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 400ms;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    margin-top: 20%;
    color: var(--textColor);
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    max-width: 800px;
    width: 80%;
    margin: 0 auto 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#modal form div:nth-child(3), #modal form div:nth-child(4), #modal form div:nth-child(5){
    grid-column: span 2;
}

#modal .CTA{
    margin: 16px 0;
    grid-column: 2;
    justify-self: end;
    align-self: end;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

#modal a{
    background-color: var(--backModalButtonColor);
    color: var(--buttonTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    align-self: end;
    font-size: 14px;
    text-decoration: none;
    margin: 16px 0;
    box-shadow: var(--formBorderColor) 0 8px 16px -8px;
    transition: ease 280ms;
}

#modal a:hover{
    background-color: var(--backModalButtonColorHover);
}

form input, form textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: var(--formBorderColor) 1px solid;
    outline: none;
    font-size: 16px;
}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}


