#container {
    width: 80%;
    max-width: 980px;
    margin: 2.5rem auto;
}

.pageHome {
    display: flex;
}

#intro  {
    width: 300px;
    margin-right: 4rem;
}

main {
    margin: 2rem 0;
}

#buttons {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

button {
    background: none;
    color: var(--buttonColor);
}

button:hover {
    text-decoration: underline;
}