#container {
    width: 80%;
    max-width: 980px;
    margin: 4rem auto;
}

.pageHome {
    display: flex;
}

#intro  {
    width: 300px;
    margin-right: 64px;
}

main {
    margin: 2rem 0;
}

#buttons {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-evenly;
}

button {
    background: none;
    color: var(--buttonColor);
}

button:hover {
    text-decoration: underline;
}

.idea {
    display: flex;
    margin-bottom: 32px;
    background-color: var(--ideaBackgroundColor);
    padding: 32px;
    border-radius: 8px;
    box-shadow: var(--ideaShadowColor) 0 4px 16px -8px ;
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: var(--ideaPColor);
}

.idea .description {
    margin: 16px 0;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1;
}